<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Air tickets online{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo.png') }}" type="image/icon type">
        <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/c469eef0a1.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            .img-hover-zoom {
                overflow: hidden;
            }
            .img-hover-zoom img {
                transition: transform .6s ease;
            }
            .img-hover-zoom:hover img {
                transform: scale(1.2);
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    {{ include('inc/navbar.html.twig') }}
        <div class="container">
        {% block body %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
